*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: Arial, sans-serif;

}

.login-container{
    
    margin: 0 auto;
    width: 25%;
    margin-top: 8vh;
}
.login-container h1{
    text-align: center;
}
.form-element{
    width: 100%;
}

.form-element label{
    display: block;
    font-size: 22px;
    margin-top: 1rem;
}

.form-element input[type="text"],
.form-element input[type="password"]{
    font-size: 22px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: gray;
}

.login-container button{
    width: 100%;
    letter-spacing: 6px;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: 32px;
    padding: 1rem;
    background-color: rgb(75, 108, 255);
    border: none;background-color: rgb(75, 108, 255);
    color: white;
    cursor: pointer;
}

.login-container button:hover{
    background-color: rgb(253, 35, 35);
}

.register{
    color: green;
    margin-top:10px;
	font-size: 18px;
    font-style: italic;
}

.register:hover{
    color: rgb(140, 140, 255);
}